{% extends "base.html"%} {% block head %}
<style type="text/css">
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: black;
    text-decoration: none;
    background-color: transparent;
  }

  .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
  }
</style>
{% endblock %} {% block content %}
<div id="app">
  User's name:{{user.name}}<br /><br />
  <add-blog />
</div>
<hr />
<hr />

<div id="blog">
  <display-blog :blogs="{{ blogs.to_json() }}" />
</div>


<hr />
{% endblock %}
